<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <title>R.I.M.S</title>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="template language" name="keywords">
  <meta content="Tamerlan Soziev" name="author">
  <meta content="R.I.M.S" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/assets/img/favicon.png" rel="shortcut icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
  <link href="/assets/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
  <link href="/assets/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
  <link href="/assets/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
  <link href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/assets/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
  <link href="/assets/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
  <link href="/assets/bower_components/slick-carousel/slick/slick.css" rel="stylesheet">
  <link href="/assets/css/main.css?version=4.4.0" rel="stylesheet">
</head>

<body class="menu-position-side menu-side-left full-screen">
  <div class="all-wrapper solid-bg-all">
    <div class="search-with-suggestions-w">
      <div class="search-with-suggestions-modal">
        <div class="element-search">
          <input class="search-suggest-input" placeholder="Start typing to search..." type="text">
          <div class="close-search-suggestions">
            <i class="os-icon os-icon-x"></i>
          </div>
          </input>
        </div>
        <div class="search-suggestions-group">
          <div class="ssg-header">
            <div class="ssg-icon">
              <div class="os-icon os-icon-box"></div>
            </div>
            <div class="ssg-name">
              Projects
            </div>
            <div class="ssg-info">
              24 Total
            </div>
          </div>
          <div class="ssg-content">
            <div class="ssg-items ssg-items-boxed">
              <a class="ssg-item" href="users_profile_big.html">
                <div class="item-media" style="background-image: url(/assets/img/company6.png)"></div>
                <div class="item-name">
                  Integ<span>ration</span> with API
                </div>
              </a><a class="ssg-item" href="users_profile_big.html">
                <div class="item-media" style="background-image: url(/assets/img/company7.png)"></div>
                <div class="item-name">
                  Deve<span>lopm</span>ent Project
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="search-suggestions-group">
          <div class="ssg-header">
            <div class="ssg-icon">
              <div class="os-icon os-icon-users"></div>
            </div>
            <div class="ssg-name">
              Customers
            </div>
            <div class="ssg-info">
              12 Total
            </div>
          </div>
          <div class="ssg-content">
            <div class="ssg-items ssg-items-list">
              <a class="ssg-item" href="users_profile_big.html">
                <div class="item-media" style="background-image: url(/assets/img/avatar1.jpg)"></div>
                <div class="item-name">
                  John Ma<span>yer</span>s
                </div>
              </a><a class="ssg-item" href="users_profile_big.html">
                <div class="item-media" style="background-image: url(/assets/img/avatar2.jpg)"></div>
                <div class="item-name">
                  Th<span>omas</span> Mullier
                </div>
              </a><a class="ssg-item" href="users_profile_big.html">
                <div class="item-media" style="background-image: url(/assets/img/avatar3.jpg)"></div>
                <div class="item-name">
                  Kim C<span>olli</span>ns
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="search-suggestions-group">
          <div class="ssg-header">
            <div class="ssg-icon">
              <div class="os-icon os-icon-folder"></div>
            </div>
            <div class="ssg-name">
              Files
            </div>
            <div class="ssg-info">
              17 Total
            </div>
          </div>
          <div class="ssg-content">
            <div class="ssg-items ssg-items-blocks">
              <a class="ssg-item" href="#">
                <div class="item-icon">
                  <i class="os-icon os-icon-file-text"></i>
                </div>
                <div class="item-name">
                  Work<span>Not</span>e.txt
                </div>
              </a><a class="ssg-item" href="#">
                <div class="item-icon">
                  <i class="os-icon os-icon-film"></i>
                </div>
                <div class="item-name">
                  V<span>ideo</span>.avi
                </div>
              </a><a class="ssg-item" href="#">
                <div class="item-icon">
                  <i class="os-icon os-icon-database"></i>
                </div>
                <div class="item-name">
                  User<span>Tabl</span>e.sql
                </div>
              </a><a class="ssg-item" href="#">
                <div class="item-icon">
                  <i class="os-icon os-icon-image"></i>
                </div>
                <div class="item-name">
                  wed<span>din</span>g.jpg
                </div>
              </a>
            </div>
            <div class="ssg-nothing-found">
              <div class="icon-w">
                <i class="os-icon os-icon-eye-off"></i>
              </div>
              <span>No files were found. Try changing your query...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layout-w">
      <!--------------------
        START - Mobile Menu
        -------------------->
      <div th:replace="fragments/mobile-menu :: mobile-menu">
        mobile-menu
      </div>
      <!--------------------
        END - Mobile Menu
        -------------------->
      <!--------------------
        START - Main Menu
        -------------------->
      <div th:replace="fragments/side-menu :: side-menu">
        side-menu
      </div>
      <!--------------------
        END - Main Menu
        -------------------->
      <div class="content-w">
        <!--------------------
          START - Top Bar
          -------------------->
        <div th:replace="fragments/top-menu :: top-menu">
          top-menu
        </div>
        <!--------------------
          END - Top Bar
          -------------------->
        <!--------------------
          START - Breadcrumbs
          -------------------->
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="index.html">Products</a>
          </li>
          <li class="breadcrumb-item">
            <span>Laptop with retina screen</span>
          </li>
        </ul>
        <!--------------------
          END - Breadcrumbs
          -------------------->
        <div class="content-i">
          <div class="content-box">
            <div class="element-wrapper">
              <h6 class="element-header">
                Users
              </h6>
              <div class="element-box">
                <h5 class="form-header">
                </h5>
                <div class="form-desc">
                </div>
                <div class="table-responsive">
                  <table id="dataTable1" width="100%" class="table table-striped table-lightfont">
                    <thead>
                      <tr>
                        <th>Sno.</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Creation Time</th>
                        <th>Approval Status</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Sno.</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Creation Time</th>
                        <th>Approval Status</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr th:each="user,iter : ${users}">
                        <td th:text="${iter.count}">1</td>
                        <td><a th:text="${user.username}" th:href="@{/users/get/1}">Edinburgh</a></td>
                        <td class="text-capitalize" th:text="${user.userAdditionalInfoPo.firstname}">Tiger</td>
                        <td class="text-capitalize" th:text="${user.userAdditionalInfoPo.lastname}">Nixon</td>
                        <td th:text="${user.creationTimeStamp}">2019-10-05 15:32:27.395</td>
                        <td th:text="${user.userEnabled}">true</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--------------------
              START - Color Scheme Toggler
              -------------------->
            <div class="floated-colors-btn second-floated-btn">
              <div class="os-toggler-w">
                <div class="os-toggler-i">
                  <div class="os-toggler-pill"></div>
                </div>
              </div>
              <span>Dark </span><span>Colors</span>
            </div>
            <!--------------------
              END - Color Scheme Toggler
              -------------------->
            <!--------------------
              START - Demo Customizer
              -------------------->
            <div class="floated-customizer-btn third-floated-btn">
              <div class="icon-w">
                <i class="os-icon os-icon-ui-46"></i>
              </div>
              <span>Customizer</span>
            </div>
            <div class="floated-customizer-panel">
              <div class="fcp-content">
                <div class="close-customizer-btn">
                  <i class="os-icon os-icon-x"></i>
                </div>
                <div class="fcp-group">
                  <div class="fcp-group-header">
                    Menu Settings
                  </div>
                  <div class="fcp-group-contents">
                    <div class="fcp-field">
                      <label for="">Menu Position</label><select class="menu-position-selector">
                        <option value="left">
                          Left
                        </option>
                        <option value="right">
                          Right
                        </option>
                        <option value="top">
                          Top
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Menu Style</label><select class="menu-layout-selector">
                        <option value="compact">
                          Compact
                        </option>
                        <option value="full">
                          Full
                        </option>
                        <option value="mini">
                          Mini
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field with-image-selector-w">
                      <label for="">With Image</label><select class="with-image-selector">
                        <option value="yes">
                          Yes
                        </option>
                        <option value="no">
                          No
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Menu Color</label>
                      <div class="fcp-colors menu-color-selector">
                        <div class="color-selector menu-color-selector color-bright selected"></div>
                        <div class="color-selector menu-color-selector color-dark"></div>
                        <div class="color-selector menu-color-selector color-light"></div>
                        <div class="color-selector menu-color-selector color-transparent"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fcp-group">
                  <div class="fcp-group-header">
                    Sub Menu
                  </div>
                  <div class="fcp-group-contents">
                    <div class="fcp-field">
                      <label for="">Sub Menu Style</label><select class="sub-menu-style-selector">
                        <option value="flyout">
                          Flyout
                        </option>
                        <option value="inside">
                          Inside/Click
                        </option>
                        <option value="over">
                          Over
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Sub Menu Color</label>
                      <div class="fcp-colors">
                        <div class="color-selector sub-menu-color-selector color-bright selected"></div>
                        <div class="color-selector sub-menu-color-selector color-dark"></div>
                        <div class="color-selector sub-menu-color-selector color-light"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="fcp-group">
                  <div class="fcp-group-header">
                    Other Settings
                  </div>
                  <div class="fcp-group-contents">
                    <div class="fcp-field">
                      <label for="">Full Screen?</label><select class="full-screen-selector">
                        <option value="yes">
                          Yes
                        </option>
                        <option value="no">
                          No
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Show Top Bar</label><select class="top-bar-visibility-selector">
                        <option value="yes">
                          Yes
                        </option>
                        <option value="no">
                          No
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Above Menu?</label><select class="top-bar-above-menu-selector">
                        <option value="yes">
                          Yes
                        </option>
                        <option value="no">
                          No
                        </option>
                      </select>
                    </div>
                    <div class="fcp-field">
                      <label for="">Top Bar Color</label>
                      <div class="fcp-colors">
                        <div class="color-selector top-bar-color-selector color-bright selected"></div>
                        <div class="color-selector top-bar-color-selector color-dark"></div>
                        <div class="color-selector top-bar-color-selector color-light"></div>
                        <div class="color-selector top-bar-color-selector color-transparent"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--------------------
              END - Demo Customizer
              -------------------->
            <!--------------------
              START - Chat Popup Box
              -------------------->
            <div class="floated-chat-btn">
              <i class="os-icon os-icon-mail-07"></i><span>Demo Chat</span>
            </div>
            <div class="floated-chat-w">
              <div class="floated-chat-i">
                <div class="chat-close">
                  <i class="os-icon os-icon-close"></i>
                </div>
                <div class="chat-head">
                  <div class="user-w with-status status-green">
                    <div class="user-avatar-w">
                      <div class="user-avatar">
                        <img alt="" th:src="${#authentication.principal.userAdditionalInfoPo.profileImageLink}" src="" onerror="this.src='img/avatar1.jpg'">
                        </div>
                      </div>
                      <div class="user-name">
                        <h6 class="user-title">
                          <span class="text-capitalize" sec:authentication="name">Anonymous</span>
                        </h6>
                        <div class="user-role">
                          Account Manager
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="chat-messages">
                    <div class="message">
                      <div class="message-content">
                        Hi, how can I help you?
                      </div>
                    </div>
                    <div class="date-break">
                      Mon 10:20am
                    </div>
                    <div class="message">
                      <div class="message-content">
                        Hi, my name is Mike, I will be happy to assist you
                      </div>
                    </div>
                    <div class="message self">
                      <div class="message-content">
                        Hi, I tried ordering this product and it keeps showing me error code.
                      </div>
                    </div>
                  </div>
                  <div class="chat-controls">
                    <input class="message-input" placeholder="Type your message here..." type="text">
                    <div class="chat-extra">
                      <a href="#"><span class="extra-tooltip">Attach Document</span><i class="os-icon os-icon-documents-07"></i></a><a href="#"><span class="extra-tooltip">Insert Photo</span><i class="os-icon os-icon-others-29"></i></a><a href="#"><span class="extra-tooltip">Upload Video</span><i class="os-icon os-icon-ui-51"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--------------------
              END - Chat Popup Box
              -------------------->
            </div>
          </div>
        </div>
      </div>
      <div class="display-type"></div>
    </div>
    <script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/bower_components/moment/moment.js"></script>
    <script src="/assets/bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="/assets/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script src="/assets/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/assets/bower_components/bootstrap-validator/dist/validator.min.js"></script>
    <script src="/assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/assets/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="/assets/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="/assets/bower_components/editable-table/mindmup-editabletable.js"></script>
    <script src="/assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/assets/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/assets/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/bower_components/tether/dist/js/tether.min.js"></script>
    <script src="/assets/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/util.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/alert.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/button.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/carousel.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/collapse.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/dropdown.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/modal.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/tab.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/tooltip.js"></script>
    <script src="/assets/bower_components/bootstrap/js/dist/popover.js"></script>
    <script src="/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/js/demo_customizer.js?version=4.4.0"></script>
    <script src="/assets/js/main.js?version=4.4.0"></script>
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-XXXXXXX-9', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>